<header>
  <div class="bg-dark collapse" id="navbarHeader" style="">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white"><a href="/" class="text-white">A propos</a></h4>
          <p class="text-muted">Retrouvez toutes la séléction de films, choisie pour vous par les équipe de l'ENI.</p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">Menu</h4>
          <ul class="list-unstyled">
            <li><a href="/" class="text-white">Accueil</a></li>
            <li th:if="${session.isConnected != null}"><a href="/addfilm" class="text-white">Ajout film</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark box-shadow">
    <div class="container d-flex justify-content-between">
      <a href="/" class="navbar-brand d-flex align-items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>
        <strong>Filmothèque</strong>
      </a>
      <div class="nav">
        <p th:if="${session.isConnected !=null}" th:text="${'Bonjour ' + session.login}" class="login_message"></p>
        <div>
          <a href="/afficheI18n/?language=fr">FR</a>
          <a href="/afficheI18n/?language=en">EN</a>
          <a class="btn btn-sm btn-outline-secondary" href="/login" id="button_connexion" th:if="${session.isConnected == null}">Connexion</a>
          <a class="btn btn-sm btn-outline-secondary" href="/logout" id="button_deconnexion"  th:if="${session.isConnected != null}">Déconnexion</a>
          <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</header>


