<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Acceuil Filmothèque</title>
    <link rel="stylesheet" href="/css/style.css">
    <div th:replace="fragments/head"></div>
</head>
<body>
<div th:insert="fragments/header"></div>
<div class="container">
    <main role="main">
        <section class="jumbotron text-center">
            <div class="container">
                <h1 class="jumbotron-heading">Tous nos films</h1>
                <h3 class="jumbotron-heading" th:text="${#temporals.format(localDateTime, 'dd-MM-yyyy HH:mm:ss')}"></h3>
                <p class="lead text-muted">Retrouvez toute la séléction de films, choisie pour vous par les équipes de l'ENI.</p>
            </div>
        </section>
        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-4" th:each="movie : ${movies}">
                        <div class="card mb-4 box-shadow">
                            <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;"  th:src="@{${movie.urlImage}}" data-holder-rendered="true">
                            <div class="card-body">
                                <div class="title_duration">
                                    <h5 class="my-0" th:text="${movie.title}"></h5>
                                    <small class="text-muted" th:text="${movie.duration} + ' min'"></small>
                                </div>
                                <h6 class="my-0" th:text="${movie.director.firstName + ' ' +movie.director.lastName }"></h6>
                                <h6 class="my-0" th:text="${movie.genre.getLabel()}"></h6>
                                <p class="card-text" th:text="${movie.synopsis}"></p>
                                <div class="d-flex justify-content-between align-items-center" id="button_card">
                                    <div class="btn-group">
                                        <a  th:href="@{/detailfilm/{id}(id=${movie.id})}"><button type="button" class="btn btn-sm btn-outline-secondary">Détails</button></a>
                                        <button type="button" class="btn btn-sm btn-outline-secondary" th:if="${session.isConnected !=null}"> Avis</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <div th:replace="fragments/footer"></div>
</div>
</body>
</html>