<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Connexion</title>
    <link rel="stylesheet" href="/css/connexion.css">
  <div th:replace="fragments/head"></div>
</head>
<body class="text-center">
<form class="form-signin" action="login" method="post">
  <img class="mb-4" th:src="@{/images/logo.png}" alt="" width="72" height="72">
  <h1 class="h3 mb-3 font-weight-normal">Connexion</h1>
  <label for="login" class="sr-only">Email address</label>
  <input type="text" id="login" name="login" class="form-control" placeholder="Login" required="" autofocus="">
  <label for="password" class="sr-only">Password</label>
  <input type="password" id="password" name="password" class="form-control" placeholder="Password" required="">
  <br>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Se connecter</button>
</form>
<p th:text="${error}"></p>
</body>
</html>